.resumeForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.DeleteBtn {
  margin-bottom: 10px;
}

.Description {
  width: 100%;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
