.WorkExperienceView {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experienceHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experienceDetails {
  font-size: 0.7rem;
  font-weight: 400;
}

.duration {
  font-weight: 600;
}

.experienceDescription {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
}
